@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<table class="table table-bordered">
    <thead>

    <th>EmployeeID</th>
    <th>EmployeeName</th>
    <th>Deptno</th>
    

    </thead>
    <tbody>

        @foreach (var item in (List<EmployeeModel>)TempData["empdata"])
        {
            <tr>
                <td>@item.Empid</td>
                <td>@item.EmployeeName</td>
                <td>@item.Deptno</td>
                
                <td>@Html.ActionLink("Edit", "EditEmployee")</td>
                <td>@Html.ActionLink("Delete", "DeleteEmployee")</td>
            </tr>

        }
    </tbody>
</table>
